:root{
    --mainbeige :#d8cab8;
    --mainbeige: #A78b6e;
    --basegreen: #9aae95;
    --basebrown: #4B3F36;
    --fonttitle:"Noto Sans";
    --fonttext:"Noto Sans JP";
} 




/* ===== MV ===== */
.mv {
  position: relative;
  height: 100vh;
  background: url("../img/visual.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mv-catch {
  font-size: 36px;
  color: #fff;
  text-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.btn-mv{
  position: absolute;
 display: flex;
  font-size: 1.2rem;
  background-color: #9aae95;
  color: aliceblue;
  border-radius: 30px;
  padding: .85rem .85rem;
  bottom: 30px;
 }

.btn-mv:hover{
  background-color: #495347;
}
/* ===== Concept ===== */

.section-title{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px;
}

.section-title-ja::after {
  content: "";
  display: block;
  width: 60px;        
  height: 4px;        
  background-color: #7a9a7a; 
  margin: 12px auto 0; 
}

.title{
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  padding: 80px 0;

}
.icon{
   width: 70px;      
  height: 70px;     
  object-fit: contain; 
  display: block;
  margin: 0 auto 20px;

}

.concept .contents {
  display: flex;
  justify-content: space-between;
  gap: 40px;
margin-bottom: 150px;

}

.concept .item {
  text-align: center;
  justify-items: center;
  align-items: center;

}

.item p{
  padding: 0 20px;
}

/* ===== Hot Spring ===== */
.sp{
   background-color:rgba(167, 139, 110, 0.3);
}

.hotspring-inner {
  display: flex;
  flex-wrap: wrap;         
  gap: 40px;
  align-items: flex-start; 
  padding: 0 50px 100px 150px;

}

.hotspring-images {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.hotspring-images img {
  flex: 1;
  height: 240px;
  border-radius: 30px;
  object-fit: cover;
}

.hotspring-text {
  flex: 1 1 0%;
  max-width: 500px;
  min-width: 280px;
  position: relative;
  z-index: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0 0;
}



/* ===== Use Flow ===== */

.use-title{
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  padding: 80px 0;

}

.use-flow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
}

.flow-step img {
  width: 80px;
}

.text-table{
  padding-top: 10px;
  }
/* ===== Menu ===== */
.menu{
  padding: 150px 0;
  background-color:rgba(167, 139, 110, 0.3);
}
.menu-title{
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom:80px;
}

.card-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
 
}
.card {
  width: 250px;           
  text-align: center;
  margin: 0 auto;
}

 .card p{
  padding-top: 10px;
 } 

.card img {
  width: 100%;
  height: 250px;           
  object-fit: cover;       
  border-radius: 30px;
}

/* ===== Gaallery ===== */

.gallery-title{
  text-align: center;
  padding: 100px 0 80px;
}

.gallery-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 40px;
  padding: 30px 30px 100px 30px ;
  border-radius: 30px;
}
.gallery-card img {
 width: 80%;
 height:250px;           
  object-fit: cover;       
  border-radius: 30px;
  gap: 30px;
  margin: 0 auto;
}


/* ==============================
   Responsive (モバイル対応)
============================== */
@media (max-width: 768px) {
  .mv-text h2 { 
    font-size:24px;
   }

  .concept .contents { 
    flex-direction:column;
     gap:30px;
      margin-bottom:80px; 
    }

  .hotspring-inner {
     flex-direction:column;
      padding:0 20px 50px 20px;
     }

  .hotspring-images { 
    flex-direction:column; gap:20px;
    margin: 0 a;
   }

   .hotspring-description{
    margin: 0 auto;
   }
  .use-flow { 
    flex-direction:column; 
    gap:30px; 
  }

  .card-wrapper {
     flex-direction:column;
      gap:30px;
     }

  .gallery-card {
     grid-template-columns:1fr;
      gap:20px; 
    }

  
}